[flake8]
extend-exclude = .venv/,
          # .pdm-plugins, specifically
          .pdm-*/,
          # External code
          tests/upstream/riscv-tests/,
          tests/formal/riscv-formal/,
          tests/riscof/sail_cSim/,
          # Private testing directories on local machine
          MCVE,
          plugins
# F is supported well in Ruff. E and W? Not so much. See:
# https://docs.astral.sh/ruff/rules/#pyflakes-f
# https://docs.astral.sh/ruff/rules/#error-e
# https://docs.astral.sh/ruff/rules/#warning-w
# Also see the following issues:
# https://github.com/astral-sh/ruff/issues/2402
# https://github.com/astral-sh/ruff/issues/458
select=E1,E2,E3,W,DOC
per-file-ignores =
     # Single-line docstrings become CLI help fragments.
     dodo.py:DOC101,DOC103,DOC201,DOC402,DOC404
# Pydoclint
style=numpy
skip_checking_short_docstrings=False
check_class_attributes=False
arg_type_hints_in_signature=False
