# Python
__pycache__/
*.egg-info
/dist

# pdm
/.pdm-plugins
/.pdm-python
/.venv

# pytest
/.pytest_cache

# Amaranth
/build*

# GtkWave
*.vcd
*.gtkw

# Doit
.doit.db.*

# logluts
/LUTs.csv

# m5meta
*.asm*.fdef
*.asm*.hex

# Yosys
/abc.history

# RVFormal disassembled counterexamples
*.s
